@using CRUDdotnet.ViewModel

@model Student
@{
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
                padding: 0;
                background-color: #f9f9f9;
            }

            h2 {
                font-size: 1.8em;
                color: #333;
                margin-bottom: 20px;
            }

            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                margin: 0 auto;
            }

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                color: #555;
            }

            input[type="text"],
            input[type="number"] {
                width: 100%;
                padding: 8px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            input[type="submit"] {
                background-color: #4CAF50;
                color: white;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 1em;
            }

                input[type="submit"]:hover {
                    background-color: #45a049;
                }
        </style>
    </head>
    <h2>Update Form</h2>
    <form action="/Student/Update" method="post">
        <input asp-for="Id" type="hidden" value=@Model.Id>

        <label asp-for="Name">Name:</label>
        <input asp-for="Name" type="text"  value=@Model.Name >
        <span class="text-danger" asp-validation-for="Name"></span>
        <br><br>

        <label asp-for="Age">Age:</label>
        <input asp-for="Age" type="number" value=@Model.Age >
        <span class="text-danger" asp-validation-for="Age"></span>
        <br><br>

        <label asp-for="DepartmentId">Department ID:</label>
        <input asp-for="DepartmentId" type="text" value=@Model.DepartmentId>
        <span class="text-danger" asp-validation-for="DepartmentId"></span>
        <br><br>

        <input type="submit" value="Update">
        </form>
}
